<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <File name="my_file_appender" fileName="C:\\logs\\ELK\\JSON\\JSONLog.log">
            <JSONLayout eventEOL="true" compact="true"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="my_file_appender" />
        </Root>
    </Loggers>
</Configuration>